<launch>
    <node name="dmOdom" pkg = "dm_odom" type = "dmOdom" output="screen">
    </node>
    <!-- <node name="dmOdomAdv" pkg = "dm_odom" type = "dmOdomAdv">
    </node> -->
    <node name="test_mono" pkg = "ORB_SLAM2" type = "test_mono" args="2" output="screen">
    </node>
    <node name="rviz" pkg = "rviz" type = "rviz">
    </node>

</launch>